Repository ITZipProject/itzip_back, pull requests merged in 2024-11, with the labels that each got.

#174 🐛 오류 수정 : 기술퀴즈 및 solved.ac 프로필 버그 수정
  src/main/java/darkoverload/itzip/feature/algorithm/service/user/UpdateUserSolvedProfileAndProblemServiceImpl.java
  src/main/java/darkoverload/itzip/feature/algorithm/util/SaveSolvedUser.java
  src/main/java/darkoverload/itzip/feature/csQuiz/controller/CsQuizzesController.java
  src/main/java/darkoverload/itzip/feature/csQuiz/controller/request/QuizQueryRequest.java
  src/main/java/darkoverload/itzip/feature/csQuiz/entity/QuizUserSolvedMapping.java
  src/main/java/darkoverload/itzip/feature/csQuiz/service/sub/quiz/CheckAnswerImpl.java
  src/main/java/darkoverload/itzip/feature/csQuiz/service/sub/quiz/GivenPointToQuizImpl.java
  src/main/java/darkoverload/itzip/feature/csQuiz/service/sub/quizzes/FindQuizQuerytImpl.java
  src/main/java/darkoverload/itzip/feature/csQuiz/util/QuizMapper.java
Labels: 🐞 Fix

#177 ✨ 새 기능 : 이력서 전체 조회 기능 추가
  src/main/java/darkoverload/itzip/feature/job/service/JobInfoServiceImpl.java
  src/main/java/darkoverload/itzip/feature/resume/controller/ResumeController.java
  src/main/java/darkoverload/itzip/feature/resume/controller/response/SearchResumeResponse.java
  src/main/java/darkoverload/itzip/feature/resume/domain/achievement/Achievements.java
  src/main/java/darkoverload/itzip/feature/resume/domain/career/Career.java
  src/main/java/darkoverload/itzip/feature/resume/domain/career/Careers.java
  src/main/java/darkoverload/itzip/feature/resume/domain/qualification/Qualification.java
  src/main/java/darkoverload/itzip/feature/resume/domain/qualification/Qualifications.java
  src/main/java/darkoverload/itzip/feature/resume/domain/resume/Resume.java
  src/main/java/darkoverload/itzip/feature/resume/domain/resume/ResumeWorkTermType.java
  src/main/java/darkoverload/itzip/feature/resume/domain/resume/Resumes.java
  src/main/java/darkoverload/itzip/feature/resume/dto/education/EducationDto.java
  src/main/java/darkoverload/itzip/feature/resume/dto/qualification/QualificationDto.java
  src/main/java/darkoverload/itzip/feature/resume/entity/QualificationEntity.java
  src/main/java/darkoverload/itzip/feature/resume/entity/ResumeEntity.java
  src/main/java/darkoverload/itzip/feature/resume/repository/resume/ResumeReadJpaRepository.java
  src/main/java/darkoverload/itzip/feature/resume/repository/resume/ResumeReadRepositoryImpl.java
  src/main/java/darkoverload/itzip/feature/resume/repository/resume/ResumeRepositoryImpl.java
  src/main/java/darkoverload/itzip/feature/resume/repository/resume/custom/CustomResumeReadRepository.java
  src/main/java/darkoverload/itzip/feature/resume/repository/resume/custom/CustomResumeReadRepositoryImpl.java
  src/main/java/darkoverload/itzip/feature/resume/repository/resume/custom/CustomResumeRepository.java
  src/main/java/darkoverload/itzip/feature/resume/repository/resume/custom/CustomResumeRepositoryImpl.java
  src/main/java/darkoverload/itzip/feature/resume/service/resume/ResumeReadService.java
  src/main/java/darkoverload/itzip/feature/resume/service/resume/ResumeReadServiceImpl.java
  src/main/java/darkoverload/itzip/feature/resume/service/resume/ResumeService.java
  src/main/java/darkoverload/itzip/feature/resume/service/resume/ResumeServiceImpl.java
  src/main/java/darkoverload/itzip/feature/resume/service/resume/port/resume/ResumeReadRepository.java
  src/main/java/darkoverload/itzip/feature/resume/service/resume/port/resume/ResumeRepository.java
  src/main/java/darkoverload/itzip/feature/resume/util/StringListConverter.java
  src/test/java/darkoverload/itzip/feature/resume/domain/achievement/AchievementTest.java
  src/test/java/darkoverload/itzip/feature/resume/domain/achievement/AchievementsTest.java
  src/test/java/darkoverload/itzip/feature/resume/domain/activity/ActivitiesTest.java
  src/test/java/darkoverload/itzip/feature/resume/domain/activity/ActivityTest.java
  src/test/java/darkoverload/itzip/feature/resume/domain/career/CareerTest.java
  src/test/java/darkoverload/itzip/feature/resume/domain/career/CareersTest.java
  src/test/java/darkoverload/itzip/feature/resume/domain/education/EducationTest.java
  src/test/java/darkoverload/itzip/feature/resume/domain/education/EducationsTest.java
  src/test/java/darkoverload/itzip/feature/resume/domain/language/LanguageTest.java
  src/test/java/darkoverload/itzip/feature/resume/domain/language/LanguagesTest.java
  src/test/java/darkoverload/itzip/feature/resume/domain/myskill/MySkillTest.java
  src/test/java/darkoverload/itzip/feature/resume/domain/myskill/MySkillsTest.java
  src/test/java/darkoverload/itzip/feature/resume/domain/qualification/QualificationTest.java
  src/test/java/darkoverload/itzip/feature/resume/domain/qualification/QualificationsTest.java
  src/test/java/darkoverload/itzip/feature/resume/domain/resume/ResumeTest.java
  src/test/java/darkoverload/itzip/feature/resume/domain/resume/ResumesTest.java
  src/test/java/darkoverload/itzip/feature/resume/mock/FakeAchievementRepository.java
  src/test/java/darkoverload/itzip/feature/resume/mock/FakeEducationRepository.java
  src/test/java/darkoverload/itzip/feature/resume/mock/FakeQualificationRepository.java
  src/test/java/darkoverload/itzip/feature/resume/mock/FakeResumeRepository.java
  src/test/java/darkoverload/itzip/feature/resume/mock/TestResumeContainer.java
  src/test/java/darkoverload/itzip/feature/resume/repository/resume/ResumeReadRepositoryTest.java
  src/test/java/darkoverload/itzip/feature/resume/service/ResumeServiceTest.java
  src/test/resources/sql/resume/delete-resume-data.sql
  src/test/resources/sql/resume/resume-repository-data.sql
Labels: ✨ Feat

#179 🚑 긴급 수정: 테스트 코드 FakeMockRead 구현때문에 에러 발생 오류 임시 주석 처리
  src/main/java/darkoverload/itzip/feature/resume/controller/ResumeController.java
  src/test/java/darkoverload/itzip/feature/resume/service/ResumeServiceTest.java
Labels: ❗️ HOTFIX

#181 ✨새 기능 : 이력서 상세 조회 추가
  src/main/java/darkoverload/itzip/feature/resume/controller/ResumeController.java
  src/main/java/darkoverload/itzip/feature/resume/controller/request/CreateResumeRequest.java
  src/main/java/darkoverload/itzip/feature/resume/controller/response/CreateResumeResponse.java
  src/main/java/darkoverload/itzip/feature/resume/controller/response/GetResumeDetailsResponse.java
  src/main/java/darkoverload/itzip/feature/resume/controller/response/SearchResumeResponse.java
  src/main/java/darkoverload/itzip/feature/resume/controller/response/UpdateResumeResponse.java
  src/main/java/darkoverload/itzip/feature/resume/domain/resume/Resume.java
  src/main/java/darkoverload/itzip/feature/resume/repository/qualification/QualificationRepositoryImpl.java
  src/main/java/darkoverload/itzip/feature/resume/repository/resume/ResumeReadRepositoryImpl.java
  src/main/java/darkoverload/itzip/feature/resume/repository/resume/ResumeRepositoryImpl.java
  src/main/java/darkoverload/itzip/feature/resume/service/resume/ResumeReadService.java
  src/main/java/darkoverload/itzip/feature/resume/service/resume/ResumeReadServiceImpl.java
  src/main/java/darkoverload/itzip/feature/resume/service/resume/ResumeService.java
  src/main/java/darkoverload/itzip/feature/resume/service/resume/ResumeServiceImpl.java
  src/main/java/darkoverload/itzip/feature/resume/service/resume/port/qualification/QualificationRepository.java
  src/main/java/darkoverload/itzip/feature/resume/service/resume/port/resume/ResumeReadRepository.java
  src/main/java/darkoverload/itzip/feature/resume/service/resume/port/resume/ResumeRepository.java
  src/main/java/darkoverload/itzip/global/config/response/code/CommonExceptionCode.java
  src/main/java/darkoverload/itzip/global/config/security/SecurityConfig.java
  src/test/java/darkoverload/itzip/feature/resume/domain/resume/ResumeTest.java
  src/test/java/darkoverload/itzip/feature/resume/mock/FakeAchievementRepository.java
  src/test/java/darkoverload/itzip/feature/resume/mock/FakeActivityRepository.java
  src/test/java/darkoverload/itzip/feature/resume/mock/FakeCareerRepository.java
  src/test/java/darkoverload/itzip/feature/resume/mock/FakeEducationRepository.java
  src/test/java/darkoverload/itzip/feature/resume/mock/FakeLanguageRepository.java
  src/test/java/darkoverload/itzip/feature/resume/mock/FakeMySkillRepository.java
  src/test/java/darkoverload/itzip/feature/resume/mock/FakeQualificationRepository.java
  src/test/java/darkoverload/itzip/feature/resume/mock/FakeResumeRepository.java
  src/test/java/darkoverload/itzip/feature/resume/mock/TestResumeContainer.java
  src/test/java/darkoverload/itzip/feature/resume/service/ResumeServiceTest.java
Labels: ✨ Feat
