Repository ITZipProject/itzip_back, pull requests merged in 2024-09, with the labels that each got.

#97 ✨ 새 기능 : 채용 정보 관련 CUD 기능 추가
  src/main/java/darkoverload/itzip/feature/job/domain/ConnectJobInfo.java
  src/main/java/darkoverload/itzip/feature/job/domain/JobInfo.java
  src/main/java/darkoverload/itzip/feature/job/entity/JobInfoEntity.java
  src/main/java/darkoverload/itzip/feature/job/repository/JobInfoRepository.java
  src/main/java/darkoverload/itzip/feature/job/repository/custom/CustomJobInfoRepository.java
  src/main/java/darkoverload/itzip/feature/job/repository/custom/CustomJobInfoRepositoryImpl.java
  src/main/java/darkoverload/itzip/feature/job/scheduler/JobInfoScheduler.java
  src/main/java/darkoverload/itzip/feature/job/service/connect/JobInfoConnectService.java
  src/main/java/darkoverload/itzip/feature/job/service/connect/JobInfoConnectServiceImpl.java
  src/main/java/darkoverload/itzip/feature/job/util/JobInfoJsonUtil.java
  src/main/java/darkoverload/itzip/feature/job/util/JobInfoStringUtil.java
  src/main/java/darkoverload/itzip/feature/job/util/TimeStampUtil.java
  src/main/java/darkoverload/itzip/feature/school/domain/School.java
  src/main/java/darkoverload/itzip/feature/school/service/connect/SchoolConnectServiceImpl.java
  src/main/java/darkoverload/itzip/global/config/webclient/WebClientWrapper.java
  src/main/resources/application.yml
Labels: ✨ Feat

#98 ✨ 새 기능 : 페이징 조회 처리 및 코드 구조 리팩토링
  src/main/java/darkoverload/itzip/feature/job/controller/JobInfoController.java
  src/main/java/darkoverload/itzip/feature/job/controller/response/JobInfoSearchResponse.java
  src/main/java/darkoverload/itzip/feature/job/domain/ConnectJobInfo.java
  src/main/java/darkoverload/itzip/feature/job/domain/JobInfo.java
  src/main/java/darkoverload/itzip/feature/job/entity/JobInfoEntity.java
  src/main/java/darkoverload/itzip/feature/job/repository/JobInfoRepository.java
  src/main/java/darkoverload/itzip/feature/job/repository/custom/CustomJobInfoRepository.java
  src/main/java/darkoverload/itzip/feature/job/repository/custom/CustomJobInfoRepositoryImpl.java
  src/main/java/darkoverload/itzip/feature/job/scheduler/JobInfoScheduler.java
  src/main/java/darkoverload/itzip/feature/job/service/JobInfoService.java
  src/main/java/darkoverload/itzip/feature/job/service/JobInfoServiceImpl.java
  src/main/java/darkoverload/itzip/feature/job/service/connect/JobInfoConnectServiceImpl.java
  src/main/java/darkoverload/itzip/feature/job/util/CustomStringUtil.java
  src/main/java/darkoverload/itzip/feature/job/util/JobInfoJsonUtil.java
  src/main/java/darkoverload/itzip/feature/job/util/TimeStampUtil.java
  src/main/java/darkoverload/itzip/global/config/security/SecurityConfig.java
Labels: ✨ Feat

#99 ☔️ 테스트 코드 : 사람인 API 및 페이징 처리 테스트 코드 추가
  src/main/java/darkoverload/itzip/feature/job/controller/response/JobInfoSearchResponse.java
  src/main/java/darkoverload/itzip/feature/job/repository/custom/CustomJobInfoRepositoryImpl.java
  src/main/java/darkoverload/itzip/feature/job/service/connect/JobInfoConnectServiceImpl.java
  src/main/java/darkoverload/itzip/feature/job/util/JobInfoJsonUtil.java
  src/test/java/darkoverload/itzip/feature/job/repository/JobInfoRepositoryTest.java
  src/test/java/darkoverload/itzip/feature/job/service/connect/JobInfoConnectServiceTest.java
  src/test/java/darkoverload/itzip/feature/job/util/JobInfoJsonUtilTest.java
  src/test/resources/sql/jobinfo/delete-jobinfo-data.sql
  src/test/resources/sql/jobinfo/jobinfo-repository-data.sql
Labels: ☔️ Test

#104 ✨ 새 기능 : 기술 정보 조회 API 구현 완료
  src/main/java/darkoverload/itzip/feature/tech/controller/TechController.java
  src/main/java/darkoverload/itzip/feature/tech/controller/response/GetTechResponse.java
  src/main/java/darkoverload/itzip/feature/tech/domain/Tech.java
  src/main/java/darkoverload/itzip/feature/tech/entity/TechEntity.java
  src/main/java/darkoverload/itzip/feature/tech/repository/TechRepository.java
  src/main/java/darkoverload/itzip/feature/tech/service/TechService.java
  src/main/java/darkoverload/itzip/feature/tech/service/TechServiceImpl.java
  src/main/java/darkoverload/itzip/global/config/security/SecurityConfig.java
Labels: ✨ Feat

#107 ✨ 새 기능 : 채용공고 스크랩 기능 추가
  src/main/java/darkoverload/itzip/feature/job/controller/JobInfoController.java
  src/main/java/darkoverload/itzip/feature/job/controller/request/JobInfoScrapRequest.java
  src/main/java/darkoverload/itzip/feature/job/controller/response/JobInfoSearchResponse.java
  src/main/java/darkoverload/itzip/feature/job/domain/JobInfo.java
  src/main/java/darkoverload/itzip/feature/job/domain/JobInfoScrap.java
  src/main/java/darkoverload/itzip/feature/job/entity/JobInfoEntity.java
  src/main/java/darkoverload/itzip/feature/job/entity/JobInfoScrapEntity.java
  src/main/java/darkoverload/itzip/feature/job/repository/JobInfoRepository.java
  src/main/java/darkoverload/itzip/feature/job/repository/JobInfoScrapRepository.java
  src/main/java/darkoverload/itzip/feature/job/repository/custom/CustomJobInfoRepositoryImpl.java
  src/main/java/darkoverload/itzip/feature/job/repository/custom/CustomJobInfoScrapRepository.java
  src/main/java/darkoverload/itzip/feature/job/repository/custom/CustomJobInfoScrapRepositoryImpl.java
  src/main/java/darkoverload/itzip/feature/job/scheduler/JobInfoScheduler.java
  src/main/java/darkoverload/itzip/feature/job/service/JobInfoService.java
  src/main/java/darkoverload/itzip/feature/job/service/JobInfoServiceImpl.java
  src/main/java/darkoverload/itzip/global/config/response/code/CommonExceptionCode.java
  src/main/java/darkoverload/itzip/global/config/security/SecurityConfig.java
  src/test/java/darkoverload/itzip/feature/job/repository/JobInfoRepositoryTest.java
  src/test/java/darkoverload/itzip/feature/job/service/connect/JobInfoConnectServiceTest.java
Labels: ✨ Feat

#110 🛠️ 리팩토링 : 회원 기능 GET 메소드 컨트롤러 파라미터 수신 방식 변경
  src/main/java/darkoverload/itzip/feature/user/controller/UserController.java
  src/main/java/darkoverload/itzip/feature/user/service/UserService.java
  src/main/java/darkoverload/itzip/feature/user/service/UserServiceImpl.java
Labels: 🛠️ Refactor

#111 ✨ 새 기능 : 닉네임 중복 체크 기능
  src/main/java/darkoverload/itzip/feature/user/controller/MypageController.java
  src/main/java/darkoverload/itzip/feature/user/service/MypageService.java
  src/main/java/darkoverload/itzip/feature/user/service/MypageServiceImpl.java
  src/main/java/darkoverload/itzip/feature/user/service/UserService.java
  src/main/java/darkoverload/itzip/feature/user/service/UserServiceImpl.java
  src/main/java/darkoverload/itzip/global/config/response/code/CommonExceptionCode.java
Labels: ✨ Feat

#113 ☔️ 테스트 코드 : 스크랩 기능 테스트 코드 추가
  src/main/java/darkoverload/itzip/feature/job/controller/JobInfoController.java
  src/main/java/darkoverload/itzip/feature/job/controller/request/JobInfoScrapRequest.java
  src/main/java/darkoverload/itzip/feature/job/controller/response/JobInfoSearchResponse.java
  src/main/java/darkoverload/itzip/feature/job/repository/custom/CustomJobInfoRepositoryImpl.java
  src/main/java/darkoverload/itzip/feature/job/service/JobInfoServiceImpl.java
  src/main/java/darkoverload/itzip/feature/school/controller/SchoolController.java
  src/test/java/darkoverload/itzip/feature/job/repository/JobInfoRepositoryTest.java
  src/test/java/darkoverload/itzip/feature/job/repository/JobInfoScrapRepositoryTest.java
  src/test/java/darkoverload/itzip/feature/job/service/JobInfoServiceImplTest.java
  src/test/java/darkoverload/itzip/feature/job/service/connect/JobInfoConnectServiceTest.java
  src/test/resources/sql/jobinfo/scrap/delete-infoscrap-data.sql
  src/test/resources/sql/jobinfo/scrap/infoscrap-repository-date.sql
Labels: ☔️ Test

#134 💩 똥 싼 코드 : 스웨거 멀티 파일 추가
  src/main/java/darkoverload/itzip/feature/image/controller/ImageController.java
Labels: 🐞 Fix, ✨ Feat

#133 ✨ 새 기능 : 기술 정보 도메인 기능 구현 및 Redis 캐시 연동을 포함한 데이터베이스 설계 및 샘플 데이터 구축
  src/main/java/darkoverload/itzip/feature/techinfo/controller/request/BlogUpdateRequest.java
  src/main/java/darkoverload/itzip/feature/techinfo/controller/request/CommentCreateRequest.java
  src/main/java/darkoverload/itzip/feature/techinfo/controller/request/CommentUpdateRequest.java
  src/main/java/darkoverload/itzip/feature/techinfo/controller/request/PostCreateRequest.java
  src/main/java/darkoverload/itzip/feature/techinfo/controller/request/PostUpdateRequest.java
  src/main/java/darkoverload/itzip/feature/techinfo/controller/response/BlogAdjacentPostsResponse.java
  src/main/java/darkoverload/itzip/feature/techinfo/controller/response/BlogBasicInfoResponse.java
  src/main/java/darkoverload/itzip/feature/techinfo/controller/response/BlogDetailInfoResponse.java
  src/main/java/darkoverload/itzip/feature/techinfo/controller/response/CommentResponse.java
  src/main/java/darkoverload/itzip/feature/techinfo/controller/response/PostBlogPreviewResponse.java
  src/main/java/darkoverload/itzip/feature/techinfo/controller/response/PostDetailInfoResponse.java
  src/main/java/darkoverload/itzip/feature/techinfo/controller/response/PostListResponse.java
  src/main/java/darkoverload/itzip/feature/techinfo/controller/response/PostPreviewResponse.java
  src/main/java/darkoverload/itzip/feature/techinfo/domain/Blog.java
  src/main/java/darkoverload/itzip/feature/techinfo/domain/Comment.java
  src/main/java/darkoverload/itzip/feature/techinfo/domain/Like.java
  src/main/java/darkoverload/itzip/feature/techinfo/domain/Post.java
  src/main/java/darkoverload/itzip/feature/techinfo/dto/like/LikeStatusDto.java
  src/main/java/darkoverload/itzip/feature/techinfo/dto/month/MonthlyPostDto.java
  src/main/java/darkoverload/itzip/feature/techinfo/dto/week/WeeklyPostDto.java
  src/main/java/darkoverload/itzip/feature/techinfo/dto/year/YearlyPostDto.java
  src/main/java/darkoverload/itzip/feature/techinfo/model/document/CommentDocument.java
  src/main/java/darkoverload/itzip/feature/techinfo/model/document/LikeDocument.java
  src/main/java/darkoverload/itzip/feature/techinfo/model/document/PostDocument.java
  src/main/java/darkoverload/itzip/feature/techinfo/model/entity/BlogEntity.java
  src/main/java/darkoverload/itzip/feature/techinfo/repository/blog/BlogRepository.java
  src/main/java/darkoverload/itzip/feature/techinfo/repository/blog/custom/CustomBlogRepository.java
  src/main/java/darkoverload/itzip/feature/techinfo/repository/blog/custom/CustomBlogRepositoryImpl.java
  src/main/java/darkoverload/itzip/feature/techinfo/repository/comment/CommentRepository.java
  src/main/java/darkoverload/itzip/feature/techinfo/repository/comment/custom/CustomCommentRepository.java
  src/main/java/darkoverload/itzip/feature/techinfo/repository/comment/custom/CustomCommentRepositoryImpl.java
  src/main/java/darkoverload/itzip/feature/techinfo/repository/like/LikeRepository.java
  src/main/java/darkoverload/itzip/feature/techinfo/repository/like/cache/LikeCacheRepository.java
  src/main/java/darkoverload/itzip/feature/techinfo/repository/like/cache/LikeCacheRepositoryImpl.java
  src/main/java/darkoverload/itzip/feature/techinfo/repository/post/PostRepository.java
  src/main/java/darkoverload/itzip/feature/techinfo/repository/post/custom/CustomPostRepository.java
  src/main/java/darkoverload/itzip/feature/techinfo/repository/post/custom/CustomPostRepositoryImpl.java
  src/main/java/darkoverload/itzip/feature/techinfo/service/sync/SyncService.java
  src/main/java/darkoverload/itzip/feature/techinfo/type/SortType.java
  src/main/java/darkoverload/itzip/feature/techinfo/util/SortUtil.java
  src/main/java/darkoverload/itzip/global/config/mongo/MongoConfig.java
  src/main/java/darkoverload/itzip/global/config/response/code/CommonExceptionCode.java
  src/main/java/darkoverload/itzip/global/config/security/SecurityConfig.java
  src/main/java/darkoverload/itzip/global/entity/MongoAuditingFields.java
  src/main/resources/sql/techinfo/data/data_techinfo_categories.js
  src/main/resources/sql/techinfo/data/data_techinfo_posts.sql.js
  src/main/resources/sql/techinfo/techinfo_blogs.sql
  src/test/java/darkoverload/itzip/feature/techinfo/repository/post/custom/CustomPostRepositoryImplTest.java
Labels: ✨ Feat

#136 ✨ 새 기능: 프로필 수정 기능
  src/main/java/darkoverload/itzip/feature/jwt/filter/TokenAuthenticationFilter.java
  src/main/java/darkoverload/itzip/feature/jwt/infrastructure/CustomUserDetails.java
  src/main/java/darkoverload/itzip/feature/user/controller/MypageController.java
  src/main/java/darkoverload/itzip/feature/user/controller/UserController.java
  src/main/java/darkoverload/itzip/feature/user/controller/request/ChangeNicknameRequest.java
  src/main/java/darkoverload/itzip/feature/user/controller/request/ChangePasswordRequest.java
  src/main/java/darkoverload/itzip/feature/user/controller/response/UserInfoResponse.java
  src/main/java/darkoverload/itzip/feature/user/domain/User.java
  src/main/java/darkoverload/itzip/feature/user/entity/UserEntity.java
  src/main/java/darkoverload/itzip/feature/user/service/MypageService.java
  src/main/java/darkoverload/itzip/feature/user/service/MypageServiceImpl.java
  src/main/java/darkoverload/itzip/feature/user/service/UserService.java
  src/main/java/darkoverload/itzip/feature/user/service/UserServiceImpl.java
  src/main/java/darkoverload/itzip/feature/user/util/CookieUtils.java
  src/main/java/darkoverload/itzip/global/config/response/exception/CustomErrorController.java
  src/main/java/darkoverload/itzip/global/config/response/handler/GlobalExceptionHandler.java
  src/main/resources/application.yml
  src/test/java/darkoverload/itzip/global/config/response/GlobalExceptionHandlerTest.java
  src/test/java/darkoverload/itzip/global/config/response/TestController.java
Labels: ☔️ Test, ⚙️ Config, ✨ Feat

#137 🛠️ 리팩토링 : 조회 시, locationCode 필드 값 추가
  src/main/java/darkoverload/itzip/feature/job/controller/response/JobInfoSearchResponse.java
  src/main/java/darkoverload/itzip/feature/job/repository/custom/CustomJobInfoRepositoryImpl.java
Labels: 🛠️ Refactor

#138 ✨    새 기능 : 사용자 코딩테스트 추천 기능
  src/main/java/darkoverload/itzip/feature/algorithm/controller/AlgorithmController.java
  src/main/java/darkoverload/itzip/feature/algorithm/controller/response/ProblemListResponse.java
  src/main/java/darkoverload/itzip/feature/algorithm/controller/response/SolvedTagResponse.java
  src/main/java/darkoverload/itzip/feature/algorithm/controller/response/SolvedUserResponse.java
  src/main/java/darkoverload/itzip/feature/algorithm/domain/Problem.java
  src/main/java/darkoverload/itzip/feature/algorithm/domain/ProblemTag.java
  src/main/java/darkoverload/itzip/feature/algorithm/domain/ProblemTagMapping.java
  src/main/java/darkoverload/itzip/feature/algorithm/domain/SolvedacUser.java
  src/main/java/darkoverload/itzip/feature/algorithm/domain/UserProblemMapping.java
  src/main/java/darkoverload/itzip/feature/algorithm/entity/ProblemEntity.java
  src/main/java/darkoverload/itzip/feature/algorithm/entity/ProblemTagEntity.java
  src/main/java/darkoverload/itzip/feature/algorithm/entity/ProblemTagMappingEntity.java
  src/main/java/darkoverload/itzip/feature/algorithm/entity/SolvedacUserEntity.java
  src/main/java/darkoverload/itzip/feature/algorithm/entity/UserProblemMappingEntity.java
  src/main/java/darkoverload/itzip/feature/algorithm/entity/embedded/ProblemTagMappingId.java
  src/main/java/darkoverload/itzip/feature/algorithm/entity/embedded/UserProblemMappingId.java
  src/main/java/darkoverload/itzip/feature/algorithm/repository/mapping/ProblemTagMappingRepository.java
  src/main/java/darkoverload/itzip/feature/algorithm/repository/mapping/UserProblemMappingRepository.java
  src/main/java/darkoverload/itzip/feature/algorithm/repository/mapping/custom/BatchInsertProblemsAndTagsMapping.java
  src/main/java/darkoverload/itzip/feature/algorithm/repository/mapping/custom/BatchInsertProblemsAndTagsMappingImpl.java
  src/main/java/darkoverload/itzip/feature/algorithm/repository/problem/ProblemRepository.java
  src/main/java/darkoverload/itzip/feature/algorithm/repository/problem/custom/BatchInsertProblems.java
  src/main/java/darkoverload/itzip/feature/algorithm/repository/problem/custom/BatchInsertProblemsImpl.java
  src/main/java/darkoverload/itzip/feature/algorithm/repository/problem/custom/FindProblemByUser.java
  src/main/java/darkoverload/itzip/feature/algorithm/repository/tag/ProblemTagRepository.java
  src/main/java/darkoverload/itzip/feature/algorithm/repository/tag/custom/BatchInsertTags.java
  src/main/java/darkoverload/itzip/feature/algorithm/repository/tag/custom/BatchInsertTagsImpl.java
  src/main/java/darkoverload/itzip/feature/algorithm/repository/user/SolvedacUserRepository.java
  src/main/java/darkoverload/itzip/feature/algorithm/scheduler/SolvedAcProblemScheduler.java
  src/main/java/darkoverload/itzip/feature/algorithm/service/AlgorithmService.java
  src/main/java/darkoverload/itzip/feature/algorithm/service/AlgorithmServiceImpl.java
  src/main/java/darkoverload/itzip/feature/algorithm/service/problem/FindProblemsByTagAndUserService.java
  src/main/java/darkoverload/itzip/feature/algorithm/service/problem/FindProblemsByTagAndUserServiceImpl.java
  src/main/java/darkoverload/itzip/feature/algorithm/service/problem/FindProblemsByUserService.java
  src/main/java/darkoverload/itzip/feature/algorithm/service/problem/FindProblemsByUserServiceImpl.java
  src/main/java/darkoverload/itzip/feature/algorithm/service/problem/SaveProblemsService.java
  src/main/java/darkoverload/itzip/feature/algorithm/service/problem/SaveProblemsServiceImpl.java
  src/main/java/darkoverload/itzip/feature/algorithm/service/tag/FindAllTagsService.java
  src/main/java/darkoverload/itzip/feature/algorithm/service/tag/FindAllTagsServiceImpl.java
  src/main/java/darkoverload/itzip/feature/algorithm/service/tag/SaveTagsService.java
  src/main/java/darkoverload/itzip/feature/algorithm/service/tag/SaveTagsServiceImpl.java
  src/main/java/darkoverload/itzip/feature/algorithm/service/user/FindUserSolvedProfileService.java
  src/main/java/darkoverload/itzip/feature/algorithm/service/user/FindUserSolvedProfileServiceImpl.java
  src/main/java/darkoverload/itzip/feature/algorithm/service/user/SaveUserSolvedProfileService.java
  src/main/java/darkoverload/itzip/feature/algorithm/service/user/SaveUserSolvedProfileServiceImpl.java
  src/main/java/darkoverload/itzip/feature/algorithm/service/user/UpdateUserSolvedProfileAndProblemService.java
  src/main/java/darkoverload/itzip/feature/algorithm/service/user/UpdateUserSolvedProfileAndProblemServiceImpl.java
  src/main/java/darkoverload/itzip/feature/algorithm/util/SaveSolvedUser.java
  src/main/java/darkoverload/itzip/feature/algorithm/util/SaveUserSolvedProblem.java
  src/main/java/darkoverload/itzip/feature/algorithm/util/SolvedAcAPI.java
  src/main/java/darkoverload/itzip/feature/algorithm/util/SolvedTierCalculator.java
  src/main/java/darkoverload/itzip/global/config/response/code/CommonExceptionCode.java
  src/main/java/darkoverload/itzip/global/config/security/SecurityConfig.java
  src/main/resources/sql/algorithm/algorithm.sql
  src/main/resources/static/swagger-ui/index.html
Labels: ✨ Feat

#139 ✨ 새 기능 : 임시 회원 삭제 기능
  src/main/java/darkoverload/itzip/feature/user/controller/UserController.java
  src/main/java/darkoverload/itzip/feature/user/service/UserService.java
  src/main/java/darkoverload/itzip/feature/user/service/UserServiceImpl.java
Labels: ✨ Feat
